<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
</head>
<body>
    <h1>Sistema de Inventario</h1>
    <hr>

    <p>
        <a href="{% url 'lista_productos' %}">Productos</a> |
        <a href="{% url 'lista_categorias' %}">Categorías</a> |
        <a href="{% url 'lista_proveedores' %}">Proveedores</a> |
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </p>

    <hr>

    {% block content %}
    {% endblock %}

    <hr>
</body>
</html>
